* {
  box-sizing: border-box;
}

body {
  line-height: 1.65;
  margin: 0;
}

.initially-hidden {
  display: none;
}

.initially-shown {
  margin: 30px 0;
}

.initially-shown img {
  width: 100%;
}

@media screen and (min-width: 960px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section {
    width: 50%;
  }
}
